<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/head :: header">
</head>

<head>
  <link rel="stylesheet" href="https://unpkg.com/@themesberg/flowbite@1.2.0/dist/flowbite.min.css" />
</head>

<title>Upload</title>

<body class="container mx-auto">
  <div class="flex flex-col h-screen">

    <div class="p-5">
      <code class="text-lg" th:text="${current_date}"></code>
      <h1 class="text-blue-700 text-4xl font-bold">
        File Upload
      </h1>
    </div>

    <div class="p-5 flex-grow">

      <div class="py-5">

        <h2 class="text-lg">
          Upload your prepared Gradus file here to start autograding. Unsure about how to create a Gradus file?
          <br>
          <a class="text-transparent bg-blue-500 bg-clip-text font-bold hover:bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500"
            href="https://gradus-docs.netlify.app/docs/using-gradus/autograding/#setting-up-your-gradus-file">
            View our docs!
          </a>
        </h2>

      </div>

      <div th:if="${success_message}" id="alert_message_box"
        class="bg-green-100 border border-green-400 text-green-600 px-4 py-3 rounded relative" role="alert">
        <strong class="font-bold">Success!</strong>
        <span class="block sm:inline" th:text="${success_message}"></span>
        <a th:href="@{/autograding/complete/download(ou=${file_name})}" class="font-bold hover:text-green-800"> Click to
          begin
          autograding.</a>
        <span><button onclick="closeAlertBox()" class="fas fa-times"></button></span>
      </div>
      <div th:if="${empty_file}" id="alert_message_box"
        class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
        <strong class="font-bold">Error!</strong>
        <span class="block sm:inline" th:text="${empty_file}"></span>
        <span><button onclick="closeAlertBox()" class="fas fa-times"></button></span>
      </div>
      <form class="mt-8 space-y-3" th:action="@{/autograding/upload}" enctype="multipart/form-data" method="post">
        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" for="user_avatar">Upload
          file</label>
        <input
          class="block w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 cursor-pointer dark:text-gray-400 focus:outline-none focus:border-transparent dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
          aria-describedby="file_to_autograde" id="autograde_file" name="autograde_file" type="file">
        <div class="mt-1 text-sm text-gray-500 dark:text-gray-300" id="file_to_autograde">Choose any text file (*.txt,
          *.gradus) to upload.
        </div>
        <div>
          <button type="submit"
            class="my-5 w-full flex justify-center bg-blue-500 text-gray-100 p-4  rounded-full tracking-wide
                        font-semibold  focus:outline-none focus:shadow-outline hover:bg-blue-600 shadow-lg cursor-pointer transition ease-in duration-300">
            Upload
          </button>
        </div>
      </form>
    </div>



    <nav th:replace="fragments/nav :: nav">
    </nav>

  </div>

  <script>
    const closeAlertBox = () => {
      let msg_box = document.getElementById("alert_message_box")
      msg_box.style.display = "none";
    }
  </script>
  <script src="https://unpkg.com/@themesberg/flowbite@1.2.0/dist/flowbite.bundle.js"></script>

</body>

</html>